/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    background-color: white;
}

header {
    width: calc(1180 / 1440 * 100%);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0px;

    /* gap: 635px; */
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.header_logo {
    font-size: 38px;
}

.header_title {
    color: #FA793C;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_div {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.header_ul {
    display: flex;
    column-gap: 32px;
}

.header_a {
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.user {
    font-size: 24px;

}

/* section 1 */
.section_1 {
    height: 550px;
    padding: 185px 130px;
    background-image: url(../img/section1_cover.png);
    background-position: center;

}

.section1_div {
    /* display: flex; */
    margin: auto;
    width: calc(1180 / 1440 * 100%);

}

.section1_title {
    color: #FFF;
    font-family: Kanit;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
    margin-bottom: 20px;
}

.section1_text {
    color: #FFF;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* section 2 */

.section_2 {
    width: calc(1180 / 1440 * 100%);
    margin: auto;
    margin-top: 130px;
}

.section2_title {
    color: #000;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section2_div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.article {
    width: 380px;
    border: 1px solid #000;
}

.cards {
    display: flex;
    column-gap: 20px;
    width: 100%;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.article_img {
    width: 100%;
    height: 190px;
}


.text_div {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.section2_h4 {
    color: #000;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}


.section2_text {
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.icon_div {
    margin-top: 24px;
    display: flex;
    column-gap: 11px;
    align-items: center;

}

.clock {
    font-size: 24px;
    color: #000000;
}

.section2_h6 {
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* section 3 */

.section3 {
    width: calc(1180 / 1440 * 100%);
    margin: auto;
    margin-top: 130px;
}

.section3_title {
    color: #000;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 34px;
}

.section3_div {
    display: flex;
    column-gap: 20px;
}

.cover_div {

    width: calc(780 / 1180 * 100%);
    height: 400px;
    padding: 143px 37px;
    background-image: url(../img/photograph1.png);
}

.section3_h3 {
    color: #FFF;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
}

.section3_text {
    color: #FFF;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.img_div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.section3_img {
    width: 100%;
    height: 190px;
}

/* footer */
footer {
    display: flex;
    padding: 31px 0px;
    justify-content: center;
    align-items: center;
    /* column-gap: 14px; */
    background: #000;
    margin-top: 130px;
}

.footer_div {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.footer_logo {
    font-size: 38px;
}

.footer_h2 {
    color: #FFF;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}